<!--ViewData:like a C# dictionary w/ key-value pairs-
    provides  easy way to store display info passed directly from the controller.-->

@{
    ViewData["Title"] = "Privvacy Policy";
}

<h1>@ViewData["School"]</h1>
<h1>@ViewData["Title"]</h1>



